<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerificaLogin</servlet-name>
        <servlet-class>Servlet.VerificaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletError</servlet-name>
        <servlet-class>Servlet.ServletError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>Operaciones.Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>Operaciones.Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compra</servlet-name>
        <servlet-class>Operaciones.Compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ventas</servlet-name>
        <servlet-class>Operaciones.Venta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>Operaciones.Mostrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificaLogin</servlet-name>
        <url-pattern>/VerificaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletError</servlet-name>
        <url-pattern>/ServletError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compra</servlet-name>
        <url-pattern>/Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ventas</servlet-name>
        <url-pattern>/Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/Mostrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
