*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

button {
    background: transparent;
    border: none;
}

#sidenav-collapse-main {
    height: 70%
}